*{
    margin: 0;
    padding: 0;
}



.nav1{
    height: 80px;
    background-color: black;
    
}


#sidebar{
    margin-right: 30px;
    position: absolute;
    width: 20%;
    left: -20%;
    height: 100%;
    background-color: black;
    font-style: unset;
    margin-bottom: 30%;
  
}
#sidebar li a{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 15px;
    border-bottom: 1px solid gray;
    text-align: left;

}
#sidebar li a:hover{
    background-color: #ff5A3E;
    color: #ffffff;
}
.toggle-btn{
    position: absolute;
    left: 560%;
    top: 1px;
    
}

.toggle-btn span{
    display: none;
    background-color: white;
    width: 25px;
    height: 4px;
    margin: 2px;
    margin-bottom: 3px; 
    

}

.link1:hover{
    background-color: red;
    color: white;
}

.link3:hover{
    background-color: red;
    
}


#sidebar.active{
    left: 0;
}







.link1{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: bolder;
    font-family: arial, monospace;
   /* background-color: red; */
    border: solid;
    /*border-color: red;*/
    padding: 10px 50px;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}



#link2{
    color:white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold ;
    border-color: white;
    border-width: 1px;
    padding: 5px -5px;
    
    float: left;
    margin-top: 19px;
    margin-right: 10px;
    font-family: arial ;
}

#link2 span{
    color: #ff5A3E;
    font-size: 25px;
    font-weight: bolder;
}

.link3{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: bolder;
    font-family: arial, monospace;
    background-color: red;
    border-style: solid;
    border-color: red;
    padding: 10px 40px;
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 3px;
}

#pic{
    height: 65px;
    margin-top: 8px;
    margin-left: 130px;
    float: left;
}



.welcome{
    height: 680px;
    backface-visibility: hidden;
    background-image:  url('avabackdrop2.jpg') ;
   /* background-image: linear-gradient(rgb(77, 69, 95), black);*/
    background-repeat: no-repeat;
    background-size: cover;

    
    
   /* background-image: url('avabackimg3.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
   /* background-color: #f7f7f7;
  background-color: rgb(51, 42, 70); */
}


.firstup{
    
    background-color: white;

}

#headerimg{
    height: 470px;
    float: right;
    margin-top: 40px;
    margin-left: 350px;
}

#headerimg2{
   display: none;
}


#h1{
    position: initial;
    
    font-family: arial, monospace ;
    font-style: unset;
    color: white;
    font-size: 45px;
    padding-top: 40px;
    padding-left: 160px;
    font-weight: bolder ;
    
}

#h2{
    font: 20px "Open Sans", Arial, sans-serif;
    color: rgb(245, 241, 241);
    font-size: px;
    padding-top: 20px;
    padding-left: 160px;
}

#getstarted{

    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-family: arial, monospace;
    font-weight: bolder;
    background-color: #ff5A3E;
    margin-left: 160px;
    line-height: 115px;
    border-style: solid;
    border-color:#ff5A3E;
    padding: 15px 70px;
    border-radius: 6px;
}
/*.advantages{
    height: 190px;
    background-color: rgb(0, 0, 0);
}
*/


.quote-item{

    display: inline;
    color:white;
    font-weight: bold;
    font-family: arial, monospace;
    margin-left: 156px;
    padding-right: -60px;
    line-height: 70px;
}

#aicon{
height: 40px;
margin-bottom: 290px;
margin-left: 20px;

}

#wicon{
    height: 23px;
    margin-left: 25px;
    margin-bottom: 300px;

    }

#cicon{
        margin-left: 160px;
        margin-bottom: 300px;
        height: 25px;
}



.altimage{
    display: none;
    margin-left: -185px;
    height: 160px;
    margin-bottom: 70px;
}

.divleft{
    float: left;
    width: 50%;
    height: 190px;
    background-color: #3d3a3a;
    /*background-color: rgb(0, 0, 0)*/
    
}

.divright{
    float: left;
    width: 50%;
    height: 190px;
    background-color: #3d3a3a;
    /*background-color: rgb(0, 0, 0)*/
}



.list-title{
    font: 50px "Open Sans", Arial, sans-serif;
    font-weight: bolder;
    font-size: 25px;
   /* color: black;*/
   color: #ffffff;
    margin-left: 200px;
    padding-top: 70px;
    padding-left: 40px;
}

.list-text{
    font: 18px "Open Sans", Arial, sans-serif;
    color: rgb(190, 188, 188);
    margin-left: 200px;
    font-style: unset;
    padding-top: 10px;
    padding-left: 40px;
}




.list-title1{
    font: 50px "Open Sans", Arial, sans-serif;
    font-weight: bolder;
    font-size: 25px;
   /* color: black;*/
   color: #ffffff;
    margin-left: 60px;
    padding-top: 80px;
    padding-left: 40px;
}

.list-text1{
    font: 18px "Open Sans", Arial, sans-serif;
    color: rgb(190, 188, 188);
    margin-left: 60px;
    font-style: unset;
    padding-top: 10px;
    padding-left: 40px;
}


#confirm{
    height: 70px;
    float: left;
    margin-top: 65px;
    margin-left: 152px;
}


#confirm1{
    height: 70px;
    float: left;
    margin-top: 70px;
    margin-left: 10px;
}

#imgdb{
    height: 60px;
    float: left;
    
    
}

.dbtitle{
    font: 18px "Open Sans", Arial, sans-serif;
    color: #ffffff;
    float: right;
    font-size: 25px;
    font-weight: bolder;
}

.priority {
    height: 120px;
    background-color: #ffffff;
}

.why{
    color:black;
    font: 37px arial, monospace, sans-serif ;
    font-weight: 750 ;
    text-align: center;
    padding-top: 110px;
}

.reason1 {
    height: 500px;
    float: left;
    background-color: #ffffff;
    width: 24%;
}

.reason2 {
    height: 500px;
    float: left;
    background-color: #ffffff;
    width: 24%;
}

.reason3 {
    height: 500px;
    float: left;
    background-color: #ffffff;
    width: 24%;
}

.reason4 {
    height: 500px;
    background-color: #ffffff;
    width: 20%;
    float: left;
}

#avaaward2{
    height: 60px;
    margin-top: 150px;
    margin-left: 95px;
}

.award-title{
    padding-top: 30px;
    margin-left: 95px;
    color: black;
    font-weight: bolder;
    font: 27px  arial, monospace ;
}

.award-text{
    margin-left: 95px;
    padding-top: 10px;
    font: 18px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

#avaaward3{
    height: 60px;
    margin-top: 150px;
    margin-left: 50px;

}

.award-title3{
    padding-top: 30px;
    margin-left: 50px;
    color: black;
    font-weight: bolder;
    font: 27px  arial, monospace ;
}

.award-text3{
    margin-left: 50px;
    padding-top: 10px;
    font: 18px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}


#avaaward4{
        height: 60px;
        margin-top: 150px;
        margin-left: 30px;
}

.award-title4{
    padding-top: 30px;
    margin-left: 30px;
    color: black;
    font-weight: bolder;
    font: 27px  arial, monospace ;
}

.award-text4{
    margin-left: 30px;
    padding-top: 10px;
    font: 19px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

#avaaward5{
    height: 60px;
    margin-top: 150px;
    margin-left: 40px;
}

.award-title5{
   /* text-align: center;*/
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 30px;
    color: black;
    font-weight: bolder;
    font: 27px "Montserrat", arial, monospace ;
}

.award-text5{
    /*text-align: center;*/
    margin-left: 1px;
    padding-left: 40px;
    padding-top: 7px;
    font: 19px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

.line1{
    margin-top: 100px;
    height: 300px;
    width: 0.1%;
    background-color: green;
    float: left;
}



.power{
    height: 150px;
    background-color: #ffffff;
}


.feature-title{
    color:rgb(43, 28, 66);
    font-weight: bolder ;
    font: 40px Montserrat, Roboto, arial, monospace ;
    text-align: center;
    padding-top: 1px;

}

.feature-text{

    text-align: center;
    font: 20px "Open Sans", Arial, sans-serif;
    color: rgb(128, 127, 127);


}

.power{
    height: 150px;
    background-color: #ffffff;
}



.difference{
    height: 600px;
    background-image: url('avabackdrop34.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.justfair{
    padding-top: 110px;
    /*color: #3D407C;*/
    color:black;
    font-weight: 900;
    font: 40px Montserrat, Roboto, arial, monospace ;
    padding-left: 95px;
    
}

.justfair1{
    
    /*color: #3D407C;*/
    color: black;
    font: 40px Montserrat, Roboto, arial, monospace ;
    padding-left: 95px;
    
}


.vision{
    padding-top: 60px;
    
    color: #181717;
    font: 20px Leto, "Helvetica Neue", Arial;
    padding-left: 95px;
}


#swmud{
    line-height: 180px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: px;
    background-color: #ff5A3E;
    /*background-color:  #3D407C;*/
    color: #ffffff;
    margin-left: 95px;
    border-radius: 6px;
    padding: 18px 60px;
    
}

#swmud:hover{
    color: rgb(204, 203, 203);
}


.almost{
    height: 100px;
    background-color: #ffffff;
}

.easy{
    color:rgb(43, 28, 66);
    font-weight: bolder ;
    font: 40px Montserrat, Roboto, arial, monospace ;
    text-align: center;
    padding-top: 40px;
}

.signdive{
    float: left;
    width: 33%;
    height: 200px;
    background-color: #ffffff;
}

.signup-title{
    padding-top: 30px;
    margin-left: 95px;
    color: black;
    font-weight: bolder;
    font: 29px  arial, monospace ;
}
.signup-text{
    margin-left: 95px;
    font: 18px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

.explorediv{
    width: 33%;
    float: left;
    height: 200px;
    background-color: #ffffff;
}

.explore-title{
    padding-top: 30px;
    margin-left: 95px;
    color: black;
    font-weight: bolder;
    font: 29px  arial, monospace ;
}

.explore-text{
   
    margin-left: 95px;
    font: 18px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

.investdiv{
    width: 34%;
    float: left;
    height: 200px;
    background-color:#ffffff;
}

.invest-title{
    padding-top: 30px;
    margin-left: 95px;
    color: black;
    font-weight: bolder;
    font: 29px  arial, monospace ;
}

.invest-text{
   
    margin-left: 95px;
    font: 18px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

.signup1{
    
    width: 33%;
    height: 100px;
    float: left;
    background-color: #ffffff;
}


.explore2{
    width: 33%;
    height: 100px;
    float: left;
    background-color: #ffffff;
}


.invest3{
    width: 34%;
    height: 100px;
    float: left;
    background-color:#ffffff;
}

.num{
    color: rgb(74, 161, 74);
    padding-left: 95px;
    font-size: 35px;
    padding-top: 20px;
    font: 60px Montserrat, Roboto, arial, monospace ;
}

#contact{
    height: 800px;
    background-color: #ffffff;
}

.ready{
    color:rgb(43, 28, 66);
    font-weight: bolder ;
    font: 45px Montserrat, Roboto, arial, monospace ;
    text-align: center;
    padding-top: 40px;
}

.create{
    margin-left: 95px;
    font: 25px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
    text-align: center;
    padding-top: 20px;
}

.fullein{
    height: 55px;
    width: 30%;
    padding-left: 20px;
    font: 16px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
    margin-left: 35%;
}


.emailin{
    height: 55px;
    width: 30%;
    padding-left: 20px;
    font: 16px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
    margin-left: 35%;
}

.submit{
    text-decoration: none;
    color: #ffffff;
    background-color: #ff5A3E;
    padding: 18px 229px;
    margin-left: 34.90%;
    font: 16px "Open Sans", Arial, sans-serif;
    border-radius: 5px;
}

.fullname{
    font: 14px  arial, monospace ;
    margin-left: 35%;
}

.password{
    margin-left: 35%;
    font: 14px  arial, monospace ;
}


.getintouch{
    height: 400px;
    background-color: #CFDAE3;
}

.paymode{
    height: 100px;
    background: #2B343C;
}


.responsibly1{
    height: 500px;
    background: #1A1E20;
}

.responsibly{
    height: 1200px;
    background: #1A1E20;
}

.feild{
    height: 300px;
    width: 80%;
    margin-left: 10%;
    
}

.responsibl3{
padding-top: 20px;
 color: #CFDAE3;
 text-align: center;
 font-size: 25px;
 font-weight: bold ;
 border-color: white;
 border-width: 1px;
 padding: 5px -5px;
 font-family: arial ;
}




span{
    color: #ff5A3E;
    font-size: 30px;
    font-weight: bolder;
}


.avamastercard{
    float: right;
    margin-right: 200px;
    height: 100px;
}

.avapaypal{
    float: right;
    margin-right: 380px;
    height: 100px;
}

.avavisa{
    height: 100px;
    margin-left: 170px;
}

.avabitcoin{
    height: 60px;
    margin-left: 300px ;
    margin-bottom: 20px;
}





/* Media Querry  Syntax

@meadia media-type and (args){

}
*/



@media only screen and (max-width: 800px){

.nav1{
   /*width: 100%;*/

}



.toggle-btn {
    margin-top: 10px;
    display: block;
    left: 890px;
    top: 20px;

}


.toggle-btn span{
    display: block;

   
}

#pic{
    height: 50px;
    margin-top:14px;
    margin-left: 40px;
    
}

#link2{
    
    margin-top: 18px;
    font-size: 20px;
    font-weight: bold ;
   
}

#link2 span{
    color: #ff5A3E;
    font-size: 30px;
    font-weight: bolder;
}



.link1{
    margin-top: 30px;
    font-size: 10px;
    font-weight: bold;
    position: static;
    padding: 4px 8px;
    margin-right: 50px;
}
.link1:hover{
    background-color: red;
    color: white;
}

.link3{
    margin-top: 30px;
    margin-right: 125px;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 8px;
    position: static;
    left: 300px;

}


.welcome{
    height: 800px;
    
    /*background-image:  url('avabackdrop2.jpg') ;*/
    background-image: linear-gradient(rgb(77, 69, 95), black);
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-item{
   
    margin-top: 60px;
    padding-top: 50px;
    display: none;
    margin-left: 40px;
    
}


#headerimg{
    
    display: none;
    
   
}
#headerimg2{
    height: 470px;
    float: right;
    margin-top: 40px;
    margin-left: 350px;
   
}




#h1{
    position: initial;
    
    font-family: arial, monospace ;
    
    color: white;
    font-size: 40px;
    padding-top: 70px;
    padding-left: 250px;
    font-weight: bolder ;
    
}

#h2{
    font: 20px "Open Sans", Arial, sans-serif;
    color: rgb(245, 241, 241);
    font-size: px;
    padding-top: 25px;
    padding-left: 250px;
}


#getstarted{
    
    text-decoration: none;
    margin-left: 250px;
    padding: 15px 30px;
    border-radius: 6px;
}


#aicon{
    height: 40px;
    margin-left: 40px;
    
}
    
    #wicon{
    height: 23px;
    margin-left: 40px;
       
        
    
}
    
#cicon{
    margin-left: 249px;
   
    height: 25px;
          
}



.altimage{

    display: inline-block;
    margin-left: -220px;
    height: 220px;
    margin-bottom: 30px;
}



.list-title{
    font: 50px "Open Sans", Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
   /* color: black;*/
   color: #ffffff;
    margin-left: 40px;
    padding-top: 70px;
    padding-left: 80px;
}

.list-text{
    font: 15px "Open Sans", Arial, sans-serif;
    color: rgb(190, 188, 188);
    margin-left: 40px;
    font-style: unset;
    padding-top: 10px;
    padding-left: 80px;
}


.list-title1 {
    font: 50px "Open Sans", Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
   /* color: black;*/
   color: #ffffff;
    margin-left: 70px;
    padding-top: 70px;
    padding-left: 40px;
}

.list-text1 {
    font: 15px "Open Sans", Arial, sans-serif;
    color: rgb(190, 188, 188);
    margin-left: 70px;
    font-style: unset;
    padding-top: 10px;
    padding-left: 40px;
}



#confirm{
    height: 60px;
    float: left;
    margin-top: 60px;
    margin-left: 50px;
}


#confirm1{
    height: 60px;
    float: left;
    margin-top: 65px;
    margin-left: 40px;
}



.line1{

    display: none;
   
}

.why{
    color:black;
    font: 25px arial, monospace, sans-serif ;
    font-weight: 750 ;
    text-align: center;
    padding-top: 16px;
} 

.priority {
    height: 60px;
    background-color: #ffffff;
}


.reason1 {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    
    
}



#avaaward2{
    height: 45px;
    margin-top: 10px;
    margin-left: 46%;
    

}

.award-title{
    padding-top: 3px;
    margin-left: 280px;
    color: black;
    font-weight: bolder;
    font: 20px  arial, monospace ;
}

.award-text{
    margin-left: 235px;
    padding-top: 8px;
    font: 15px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

.reason2 {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    
}

#avaaward3{
    height: 45px;
    margin-top: 10px;
    margin-left: 46%;

}

.award-title3{
    padding-top: 3px;
    margin-left: 280px;
    color: black;
    font-weight: bolder;
    font: 20px  arial, monospace ;
}

.award-text3{
    margin-left: 235px;
    padding-top: 10px;
    font: 15px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}


.reason3 {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
   
   
}


#avaaward4{
    height: 45px;
    margin-top: 10px;
    margin-left: 46%;
}

.award-title4{
padding-top: 3px;
margin-left: 280px;
color: black;
font-weight: bolder;
font: 20px  arial, monospace ;
}

.award-text4{
margin-left: 235px;
padding-top: 10px;
font: 16px "Open Sans", Arial, sans-serif;
color: rgb(99, 97, 97);
}



.reason4 {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
}


#avaaward4{
        height: 45px;
        margin-top: 10px;
        margin-left: 46%;
}

.award-title4{
    padding-top: 3px;
    margin-left: 280px;
    color: black;
    font-weight: bolder;
    font: 20px  arial, monospace ;
}

.award-text4{
    margin-left: 235px;
    padding-top: 10px;
    font: 16px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

#avaaward5{
    height: 45px;
    margin-top: 10px;
    margin-left: 46%;
}

.award-title5{
   /* text-align: center;*/
    padding-top: 3px;
    padding-left: 10px;
    margin-left: 280px;
    color: black;
    font-weight: bolder;
    font: 20px "Montserrat", arial, monospace ;
}

.award-text5{
    /*text-align: center;*/
    margin-left: 235px;
    padding-left: 40px;
    padding-top: 7px;
    font: 16px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}



.power{
    height: 300px;
    background-color: #ffffff;
}


.feature-title{
    color:rgb(43, 28, 66);
    font-weight: bolder ;
    font: 30px Montserrat, Roboto, arial, monospace ;
    text-align: center;
    padding-top: 300px;

}

.feature-text{
    padding-top: 1px;
    text-align: center;
    font: 18px "Open Sans", Arial, sans-serif;
    color: rgb(128, 127, 127);


}


.difference{
    height: 600px;
    background-image: url('avabackdrop35.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.justfair{
    padding-top: 50px;
    /*color: #3D407C;*/
    color:black;
    font-weight: 900;
    font: 40px Montserrat, Roboto, arial, monospace ;
    padding-left: 95px;
    
}

.justfair1{
    
    /*color: #3D407C;*/
    color: black;
    font: 40px Montserrat, Roboto, arial, monospace ;
    padding-left: 95px;
    
}


.vision{
    padding-top: 60px;
    
    color: #181717;
    font: 20px Leto, "Helvetica Neue", Arial;
    padding-left: 95px;
}


#swmud{
    line-height: 180px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: px;
    background-color: #ff5A3E;
    /*background-color:  #3D407C;*/
    color: #ffffff;
    margin-left: 95px;
    border-radius: 6px;
    padding: 15px 30px;
    
}



#swmud:hover{
    color: rgb(204, 203, 203);
}


.almost{
    height: 100px;
    background-color: #ffffff;
}

.easy{
    
    color:rgb(43, 28, 66);
    font-weight: bolder ;
    font: 40px Montserrat, Roboto, arial, monospace ;
    text-align: center;
    padding-top: 40px;
}


.signup1{
    display: none;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}


.explore2{
    display: none;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}


.invest3{
    display: none;
    width: 100%;
    height: 100px;
    background-color:#ffffff;
}

.signdive{
   
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

.signup-title{
    padding-top: 4px;
    margin-left: 95px;
    color: black;
    font-weight: bolder;
    font: 23px  arial, monospace ;
}
.signup-text{
    margin-left: 95px;
    font: 16px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

.explorediv{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

.explore-title{
    padding-top: 4px;
    margin-left: 95px;
    color: black;
    font-weight: bolder;
    font: 23px  arial, monospace ;
}

.explore-text{
   
    margin-left: 95px;
    font: 16px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

.investdiv{
    width: 100%;
    height: 100px;
    background-color:#ffffff;
}

.invest-title{
    padding-top: 4px;
    margin-left: 95px;
    color: black;
    font-weight: bolder;
    font: 23px  arial, monospace ;
}

.invest-text{
   
    margin-left: 95px;
    font: 16px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
}

#contact{
    height: 800px;
    background-color: #ffffff;
}

.ready{
    color:rgb(43, 28, 66);
    font-weight: bolder ;
    font: 25px Montserrat, Roboto, arial, monospace ;
    text-align: center;
    padding-top: 40px;
}

.create{
    margin-left: -20px;
    font: 18px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
   
    padding-top: 10px;
}




.fullein{
    height: 30px;
    width: 30%;
    padding-left: 20px;
    font: 16px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
    margin-left: 33%;
}


.emailin{
    height: 30px;
    width: 30%;
    padding-left: 20px;
    font: 16px "Open Sans", Arial, sans-serif;
    color: rgb(99, 97, 97);
    margin-left: 33%;
}



.fullname{
    font: 13px  arial, monospace ;
    margin-left: 33%;
}

.password{
    margin-left: 33%;
    font: 13px  arial, monospace ;
}

.submit{
    text-decoration: none;
    color: #ffffff;
    background-color: #ff5A3E;
    padding: 10px 95px;
    margin-left: 32.60%;
    font: 16px "Open Sans", Arial, sans-serif;
    border-radius: 5px;
}

}


